html body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.field{
    margin: 5rem;
    padding: 0;

    border: 2px solid black;

    display: flex;
    flex-flow: row wrap;
}

.cell{
    margin: 0;
    padding: 0px;

    width: 28px;
    height: 28px;

    border: 1px solid black;
}

.cell-closed{
    background-color: gray !important;
}

.cell-opened{
    background-color: white !important;
}